# Client Firebase Configuration (Required)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBX3-pcg4gCUzHdPuRhP9BPTKbJr4zM2Mc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=school-attendance-81385.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=school-attendance-81385
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=school-attendance-81385.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=232756214397
NEXT_PUBLIC_FIREBASE_APP_ID=1:232756214397:web:67de1961741864be744f14
