# Client Firebase Configuration (Required)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# External API URL (Optional, defaults to https://ziad-school-app.onrender.com)
EXTERNAL_API_BASE_URL=https://ziad-school-app.onrender.com
NEXT_PUBLIC_EXTERNAL_API_BASE_URL=https://ziad-school-app.onrender.com
